.footer{
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
  
.footer .container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
  
.footer-about,
.footer-address{
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 0; /* Adjust spacing as needed */
}
  