.reviews-section{
    padding: 60px 0;
    background-color: #ffffff;
}
  
.reviews-section .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
  
.reviews-section h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
}
  
.reviews-grid{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
  
.review-item{
    flex: 1 1 30%;
    max-width: 30%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.review-item .user-photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
}
  
.review-item h3{
    font-size: 1.5em;
    margin-bottom: 10px;
}
  
.review-item p{
    font-size: 1em;
    color: #666;
}
  
  /* media query */
@media (max-width: 768px){

    .reviews-grid{
        display: flex;
        flex-wrap: wrap;
    }

    .review-item{
      flex: 1 1 100%;
      max-width: 100%;
    }
}
  